* { 
	padding: 0; 
	margin: 0; 
}

canvas { 
	background: #eee; 
	display: block; 
	width: 640px;
	height: 640px;
	margin: 0 auto;
	border: 1px solid black; 
}

.col {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}