body {
	background-image: url('spiral.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

h1 {
	font-family: 'Gloria Hallelujah', cursive, 'Garamond';
	font-size: 3vw;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

canvas { 
	background: #fff; 
	display: block; 
	width: 640px;
	height: 640px;
	margin: 0 auto;
	border: 10px solid black; 
}