<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ascension</title>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-16x16.png') }}" sizes="16x16" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../libjs/three.min.js"></script>
    <script src="../js/guard.js"></script>
    <script src="../js/convolutions.js"></script>
    <script src="../js/collisions.js"></script>
    <script src="../js/maps.json"></script>
    <script src="../js/index.js"></script>
</head>
<body onload="startGame()">
    <div style="position:absolute;text-align:center;bottom:4vh;left:3vw;">
        <h2>The Journey (ft. Veela) by Feint</h2>
        <audio controls loop>
            <source src="../music/feint_veela_theJourney.mp3" type="audio/mpeg"></source>
        </audio>
    </div>
</body>
</html>